h1 {
    color: #333333;
    text-align: center;
    margin-bottom: 15px;
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

table, th, td {
    border: 1px solid #5b5b5b;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    text-align: center;
    background-color: #ffffff;
}

img {
    width: 700px;
    height: 400px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
  }